# Ferma Challenge — Как начать 

Этот ноутбук поможет быстро стартовать с задачей по прогнозу годового удоя коровы. Здесь:

- краткое описание признаков;
- пример сохранения предсказаний для Kaggle (файл `ex.csv`)

## Описание данных

Каждая строка — отдельная корова.

| Column | Meaning |
| --- | --- |
| `cow_id` | Уникальный идентификатор коровы |
| `milk_yield_kg` | Годовой удой (кг) — целевой признак |
| `feed_energy_eke` | Энергетическая кормовая единица |
| `feed_crude_protein_g` | Содержание сырого протеина в корме (г) |
| `sugar_protein_ratio` | Сахаро-протеиновое соотношение |
| `breed` | Порода коровы |
| `pasture_type` | Тип пастбища |
| `sire_breed` | Порода отца |
| `milk_fat_pct` | Жирность молока (%) |
| `milk_protein_pct` | Белок в молоке (%) |
| `milk_taste_label` | Качественная оценка вкуса |
| `age_group` | Возрастная группа (`under_2_years`, `over_2_years`) |

Цель: построить модель, минимизирующую **MAE** при прогнозировании `milk_yield_kg`.

## МОЖНО НАЧИНАТЬ

In [ ]:
data_path = ".csv"
df = pd.read_csv(data_path, sep=';', decimal=',')

df.head()

,cow_id,milk_yield_kg,feed_energy_eke,feed_crude_protein_g,sugar_protein_ratio,breed,pasture_type,sire_breed,milk_fat_pct,milk_protein_pct,milk_taste_label,age_group
0,1,5863,14.2,1743,0.890,Вис Бик Айдиал,Равнинное,Айдиал,3.58,3.076,вкусно,более_2_лет
1,2,5529,12.8,2138,0.890,Вис Бик Айдиал,Равнинные,Соверин,3.54,3.079,вкусно,менее_2_лет
2,3,5810,14.0,1854,0.885,РефлешнСоверинг,Холмистое,Соверин,3.59,3.074,не вкусно,более_2_лет
3,4,5895,12.4,2012,0.885,РефлешнСоверинг,Холмистое,Айдиал,3.40,3.075,не вкусно,более_2_лет
4,5,5302,12.8,1675,0.885,Вис Бик Айдиал,Равнинные,Соверин,3.73,3.073,вкусно,менее_2_лет

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cow_id                634 non-null    int64
 1   milk_yield_kg         634 non-null    int64
 2   feed_energy_eke       634 non-null    float64
 3   feed_crude_protein_g  634 non-null    int64
 4   sugar_protein_ratio   634 non-null    float64
 5   breed                 634 non-null    object
 6   pasture_type          634 non-null    object
 7   sire_breed            634 non-null    object
 8   milk_fat_pct          634 non-null    float64
 9   milk_protein_pct      634 non-null    float64
 10  milk_taste_label      634 non-null    object
 11  age_group             634 non-null    object
dtypes: float64(4), int64(3), object(5)
memory usage: 59.6+ KB

In [ ]:
# тут должно быть ваше решение

### Обязательные метрики
```
print(f"MAE : {mae}")
print(f"RMSE: {rmse}")
print(f"R^2 : {r2}")
```

## Подготовка файла для Kaggle
 Сохраняем файл  с колонками `cow_id` и `milk_yield_prediction`.

In [ ]:
# model.fit(X, y)

# full_predictions = model.predict(X)

submission = pd.DataFrame({
    "cow_id": df["cow_id"],
    "milk_yield_prediction": full_predictions,
})

submission.head()

   cow_id  milk_yield_prediction
0       1            6034.481062
1       2            4906.250603
2       3            5839.527213
3       4            6338.286327
4       5            4909.819331

In [8]:
submission_path = "ex.csv"
submission.to_csv(submission_path, index=False)
print(f"Saved baseline submission to {submission_path}")

Saved baseline submission to ex.csv